.header nav ul {
    margin-top: 0;
    margin-bottom: 0;
}

.header--vertical {
    margin-left: 10px;
    margin-top: 20px;
}

.header--horizontal {
    text-align: right;
    margin-top: 30px;
}

.header--horizontal-menu {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 1px;
    padding-bottom: 1px;
}

.header--vertical a, .header--horizontal a{
    text-transform: uppercase;
    line-height: 30px;
}

 
.header--horizontal nav ul li {
    display: inline;
}

.header--horizontal-redes {
    margin-top: 10px;
}
